.page1 {
    h1{
        color: red;        
    }

    .icon{
        font-size: 40px;
    }
    .cbtn{
        background-color: lime;
        color:black
    }

    .cbtn:hover{
        background-color: green;
        color:gray
    }
}